<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!-- اضافه کردن CSS -->
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header>
        <h1>My Blog</h1>
    </header>
    <div class="container">
        <!-- دکمه افزودن پست جدید -->
        {% if user.is_authenticated and user.is_superuser %}
        <a href="{% url 'add_post' %}" class="add-post-btn">Add New Post</a>
        {% endif %}
        {% if user.is_staff %}
            <a href="{% url 'manage_comments' %}" class="btn btn-warning">مدیریت کامنت‌ها</a>        
        {% endif %}
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.id %}" class="post-title">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
